<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据筛选</title>
    <link href="/tp5/public/static/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/tp5/public/static/layer/skin/default/layer.css">
    <script src="/tp5/public/static/dist/js/jquery.min.js"></script>
    <script src="/tp5/public/static/dist/js/bootstrap.js"></script>
    <script src="/tp5/public/static/layer/layer.js"></script>
    <script src="/tp5/public/static/layer/layer_m.js"></script>
    <script src="/tp5/public/static/cookie/jquery.cookie.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">文件设置<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{:url('demo/hello/setattr')}">添加关键字段</a></li>
                        <li><a href="{:url('demo/hello/testerandgame')}">添加被试</a></li>
                        <li><a href="{:url('demo/hello/upload')}">文件上传</a></li>
                    </ul>
                </li>
                <li><a href="{:url('demo/hello/project')}">排序计算</a></li>
                <li><a href="{:url('demo/hello/count')}">数据计算</a></li>

            </ul>
        </div>

    </div>
</nav>
    <div class="container" style="padding-top: 50px">
        <form method="post" action="{:url('demo/hello/datachoose')}">
            <label>选择筛选条件</label>
            <br />
            <label style="padding-top: 20px">请选择性别：</label>
            <select name="sex">
                {volist name = "sex" id="sex" }
                <option value="{$sex.id}">{$sex.value}</option>
                {/volist}
            </select>
            <br />

            <label style="padding-top: 20px">请选择年龄：</label>
            <select name="age_group">
                {volist name = "age_group" id="age" }
                <option value="{$age.id}">{$age.value}</option>
                {/volist}
            </select>
            <br />

            <label style="padding-top: 20px">请选择游戏经历：</label>
            <select name="game_experience">
                {volist name = "game_experience" id="exp" }
                <option value="{$exp.id}">{$exp.value}</option>
                {/volist}
            </select>
            <br />

            <label style="padding-top: 20px">请选择游戏年限：</label>
            <select name="game_year">
                {volist name = "game_year" id="year" }
                <option value="{$year.id}">{$year.value}</option>
                {/volist}
            </select>
            <br />

            <label style="padding-top: 20px">请选择测试顺序：</label>
            <select name="status">
                {volist name = "status" id="statu" }
                <option value="{$statu.status_}">{$statu.status_}</option>
                {/volist}
            </select>
            <br />


            <button class="btn btn-info">筛选</button>
        </form>
        <table class="table table-condensed" style="margin-top: 20px">
            <tr>
                <td>#</td>
                <td>emoi</td>
                <td>scl</td>
                <td>High alpha</td>
                <td>gamma</td>
                <td>tag</td>
            </tr>

        </table>
    </div>

</body>
</html>