<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分组</title>
    <link href="../../../../public/static/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../../../public/static/layer/skin/default/layer.css">
    <script src="../../../../public/static/dist/js/jquery.min.js"></script>
    <script src="../../../../public/static/dist/js/bootstrap.js"></script>
    <script src="../../../../public/static/layer/layer.js"></script>
    <script src="../../../../public/static/layer/layer_m.js"></script>
    <script src="../../../../public/static/cookie/jquery.cookie.js"></script>
</head>
<body>
<div class="container">
    <label style="margin-top: 50px">项目:{$project_n}</label>
    <form style="padding-top: 50px" method="post" action="{:url('demo/hello/addgroup')}">
        <label>请输入组别名称：</label>
        <input type="text" name="project_name" class="form-control" style="margin-bottom: 20px">

        <button class="btn btn-info" type="submit">添加</button>
        <button class="btn btn-danger" type="button">删除</button>
    </form>
    <ul class="list-group" style="margin-top: 50px">
        {if condition= "count($group_name)==0"}
        <li class="list-group-item">暂时没有分组</li>
        {else /}
        {volist name="group_name" id="gname"}
        <li class="list-group-item">{$gname.group_name}</li>
        {/volist}
        {/if}

    </ul>


</div>

</body>
<script>
    (function () {
//        alert($.cookie("project_name"));
        $('.btn-info').click(function () {
            var data = $('form').serialize();
            $.ajax({
                url: "{:url('demo/hello/addgroup')}",
                type:"POST",
                data:data,
                dataType:"json",
                success:function (data) {
                    console.log(data.sta);
                }
            });
        });
        $('li').click(function () {
            var group_name = $(this).text();
            $.cookie("group_name",group_name);
            $.cookie("project_id",{$project_id});
            window.location.assign("{:url('demo/hello/sort')}");
//            alert($.cookie("project_name"));
//            alert($.cookie("group_name"));

        });
    })()
</script>
</html>