<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>排序</title>
    <link href="/tp5/public/static/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/tp5/public/static/layer/skin/default/layer.css">
    <script src="/tp5/public/static/dist/js/jquery.min.js"></script>
    <script src="/tp5/public/static/dist/js/bootstrap.js"></script>
    <script src="/tp5/public/static/layer/layer.js"></script>
    <script src="/tp5/public/static/layer/layer_m.js"></script>
    <script src="/tp5/public/static/cookie/jquery.cookie.js"></script>
</head>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">文件设置<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{:url('demo/hello/setattr')}">添加关键字段</a></li>
                        <li><a href="{:url('demo/hello/testerandgame')}">添加被试</a></li>
                        <li><a href="{:url('demo/hello/upload')}">文件上传</a></li>
                    </ul>
                </li>
                <li><a href="{:url('demo/hello/project')}">排序计算</a></li>

            </ul>
        </div>

    </div>
</nav>
<body style="padding-bottom: 50px">
<div class="container" style="margin-top: 50px;padding-top: 40px">
    <label style="margin-top: 20px">组名:{$group_n}</label>
    <br />

    <button class="btn btn-info add" type="button">添加数据</button>
    <table class="table table-condensed" style="margin-top: 20px">
        <tr>
            <td>emoi</td>
            <td>scl</td>
            <td>High alpha</td>
            <td>gamma</td>
            <td>game</td>
        </tr>
        {if condition= "count($data)==0"}
        <tr><td style="border: none ;width: 200px">暂时没有数据</td></tr>
        {else /}
        {volist name="data" id="data"}
        <tr>
            <td>{$data.emoi}</td>
            <td>{$data.scl}</td>
            <td>{$data.High_alpha}</td>
            <td>{$data.gamma}</td>
            <td>{$data.tag}</td>
        </tr>
        {/volist}
        {/if}
    </table>


    <form id="result_data">
        <button type="button" class="btn btn-info count">计算</button>
        <table class="table table-condensed" style="margin-top: 20px" >
            <tr>
                <td>emoi</td>
                <td>scl</td>
                <td>High alpha</td>
                <td>gamma</td>
            </tr>
            <tr>
                <td class="emoi"></td>
                <td class="scl"></td>
                <td class="High_alpha"></td>
                <td class="gamma"></td>
            </tr>

        </table>
    </form>
</div>

<div class="container show_data" style="border: 1px solid #333;display: none;border-radius: 10px;">

    <form id="choose">
        <label>选择筛选条件</label>
        <br />
        <label style="padding-top: 20px">请选择游戏：</label>
        <select name="game">
            <!--<option value="0">所有</option>-->
            {volist name = "game" id="game" }
            <option value="{$game.g_id}">{$game.g_name}</option>
            {/volist}
        </select>
        <br />




        <button class="btn btn-info choose" type="button">筛选</button>
        <button class="btn btn-info add_data" type="button">添加</button>
    </form>
    <table class="table table-condensed" style="margin-top: 20px" id="c_data">
        <tr>
            <td>#</td>
            <td>emoi</td>
            <td>scl</td>
            <td>High alpha</td>
            <td>gamma</td>
            <td>game</td>
        </tr>

    </table>

</div>

</body>
<script>
    (function () {
        $('.add').click(function () {
            $('.show_data').show();
        });
        $('.choose').click(function () {
            var data = $('#choose').serialize();
            $('#c_data').empty();
            var df_str ="<tr>"+
                "<td>"+"#"+"</td>"+
                "<td>"+"emoi"+"</td>"+
                "<td>"+"scl"+"</td>"+
                "<td>"+"High alpha"+"</td>"+
                "<td>"+"gamma"+"</td>"+
                "<td>"+"game"+"</td>"+
                "</tr>" ;
            $('#c_data').append(df_str);
            $.ajax({
                url:"{:url('demo/hello/sortdatanew')}",
                type:"POST",
                data:data,
                dataType:"JSON",
                success:function (data) {
//                    console.log(data);
                    for(var x in data){
                        console.log(data[x]);
                        var str = "<tr>"+
                            "<td>"+"<input type='checkbox' name='test_id' value="+data[x].id+">"+"</td>"+
                            "<td>"+data[x].emoi+"</td>"+
                            "<td>"+data[x].scl+"</td>"+
                            "<td>"+data[x].High_alpha+"</td>"+
                            "<td>"+data[x].gamma+"</td>"+
                            "<td>"+data[x].tag+"</td>"+
                            "</tr>";
                        $('#c_data').append(str);
                    }
                }
            });
        });
        $('.add_data').click(function () {
            var arr_data = [];
            var i = 0;
            $('#c_data').find("input[type='checkbox']:checked").each(function () {
                var test_id = $(this).val();
                arr_data.push(test_id);
            });
            data_ = {
                id:JSON.stringify(arr_data)
            };
            console.log(data_);
            $.ajax({
                url:"{:url('demo/hello/adddata')}",
                type:"POST",
                data: data_,
//                dataType:"json",
                success:function (data) {
                    console.log(data);
                }
            });
            setTimeout(function () {
                window.location.reload();
            },3000)
        });
        $('.count').click(function () {
            var data =  $('#result_data').serialize();
            $.ajax({
                url:"{:url('demo/hello/sortdataave')}",
                type:"POST",
                dataType:"json",
                success:function (data) {
                    console.log(data);
                    $('.emoi').text(data.emoi);
                    $('.scl').text(data.scl);
                    $('.High_alpha').text(data.high_a);
                    $('.gamma').text(data.gamma);
                }
            })
        })
        console.log($.cookie('group_name'));
    })()
</script>
</html>