<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <link href="../../../../public/static/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../../../public/static/layer/skin/default/layer.css">
    <script src="../../../../public/static/dist/js/jquery.min.js"></script>
    <script src="../../../../public/static/dist/js/bootstrap.js"></script>
    <script src="../../../../public/static/layer/layer.js"></script>
    <script src="../../../../public/static/layer/layer_m.js"></script>
</head>
<body>
    <div class="container">
        <form style="padding: 50px 20px">
            <label style="padding-top: 20px">请选择性别：</label>
            <select name="sex">
                {volist name = "sex" id="name" }
                <option value="{$name.id}">{$name.value}</option>
                {/volist}
            </select>
            <br />

            <label style="padding-top: 20px">请选择年龄：</label>
            <select name="age_group">
                {volist name = "age_group" id="name" }
                <option value="{$name.id}">{$name.value}</option>
                {/volist}
            </select>
            <br />


            <label style="padding-top: 20px">请选择游戏类型：</label>
            <select name="game_type">
                {volist name = "game_type" id="name" }
                    <option value="{$name.id}">{$name.value}</option>
                {/volist}
            </select>
            <br />

            <label style="padding-top: 20px">请选择终端类型：</label>
            <select name="terminal_type">
                {volist name = "terminal_type" id="name" }
                <option value="{$name.id}">{$name.value}</option>
                {/volist}
            </select>
            <br />


            <label style="padding-top: 20px">请选择游戏经历：</label>
            <select name="game_experience">
                {volist name = "game_experience" id="name" }
                <option value="{$name.id}">{$name.value}</option>
                {/volist}
            </select>
            <br />

            <label style="padding-top: 20px">请选择游戏年限：</label>
            <select name="game_year">
                {volist name = "game_year" id="name" }
                <option value="{$name.id}">{$name.value}</option>
                {/volist}
            </select>
            <br />

            <label style="padding-top: 20px">请选择游戏年限：</label>
            <input type="file" name="">

            <button type="button">提交</button>
        </form>

    </div>

</body>
    <script>
        (function () {
            $('button').click(function () {
                var data = $('form').serialize();
                console.log(data);
            })
        })()
    </script>
</html>