<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <link href="../../../../public/static/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../../../public/static/layer/skin/default/layer.css">
    <script src="../../../../public/static/dist/js/jquery.min.js"></script>
    <script src="../../../../public/static/dist/js/bootstrap.js"></script>
    <script src="../../../../public/static/layer/layer.js"></script>
    <script src="../../../../public/static/layer/layer_m.js"></script>
</head>
<body>
    <div class="container">
        <form id="form" style="padding: 50px 20px" enctype="multipart/form-data" method="post" action="{:url('demo/hello/upfile')}">
            <label style="padding-top: 20px">请输入测试名称：</label>
            <input type="text" class="form-control" name="test_name">

            <label style="padding-top: 20px">请输入测试次序：</label>
            <input type="text" class="form-control" name="status">

            <label style="padding-top: 20px">请选择被试：</label>
            <select name="tester">
                {volist name="tester" id="tester"}
                <option value="{$tester.u_id}">{$tester.u_name}</option>
                {/volist}
            </select>
            <br/>

            <label style="padding-top: 20px">请选择测试游戏：</label>
            <select name="game">
                {volist name="game" id="game"}
                <option value="{$game.g_id}">{$game.g_name}</option>
                {/volist}
            </select>
            <br/>

            <label style="padding-top: 20px">请选择index文件：</label>
            <input type="file" name="index">
            <br />

            <label style="padding-top: 20px">请选择tags文件：</label>
            <input type="file" name="tags">
            <br />

            <button id="submit" class="btn btn-info" type="submit">提交</button>
            <button id="return" class="btn btn-info" type="button">返回</button>
        </form>

    </div>

</body>
    <script>
//        (function () {
//            $('button').click(function () {
//                var flag = $(this).attr('id');
////                console.log(flag);
//                if (flag=='return'){
//                    window.location.assign("{:url('demo/hello/testerandgame')}");
//                }else if (flag == 'submit'){
//                var data = new FormData(document.getElementById('form'));
////                console.log(data);
//                $.ajax({
//                    type:"POST",
//                    url:"{:url('demo/hello/upfile')}",
//                    data:data,
////                    dataType:"json",
//                    processData:false,
//                    contentType:false,
//                    success:function (data) {
//                        console.log(data);
//                    }
//                })
//                }
//            })
//        })()
    </script>
</html>